<div id="category">
  <h1><%=page.category + ':' %></h1>
  <% page.posts.each(article => { %>
  <div class="category-item">
    <a href="<%=url_for(article.path)%>" class="title">
      <%=article.title%>
    </a>
    <div class="sub">
      <time datetime="<%=article.date.toJSON()%>">
        <i class="far fa-clock"></i>
        <%=date(article.date)%>
      </time>
    </div>

    <% if(article.excerpt.length > 0) {%>
    <div id="excerpt"><%- article.excerpt %></div>
    <% } %>

    <a href="<%=url_for(article.path)%>" class="readmore">
      阅读更多
    </a>
  </div>
  <% }); %>
</div>
<%- partial('partials/paginator') %>