if page.posts.length > 0
  #recent-posts
    each post in page.posts.sort('date', -1).limit(10).toArray()
      .recent-post-item
        if post.img
          a(href=url_for(post.path)): img(src=post.img)
        a(href=url_for(post.path)).post-title= post.title

        include post-sub.pug
        
        if post.excerpt.length > 0
          #excerpt!= post.excerpt
        
        a(href=url_for(post.path)).readmore 阅读更多
else
  p 还没有文章
